@media screen and (max-width: 992px) {
    .button-menu {
        display: none;
    }
    div.main-container .intery-container {
        margin-left: 0;
    }
    div.main-container .main-menu {
        float: none;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 999;
    }
    .right-part-image {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    
    section.hero {
        padding: 20px;
        .hero-content {
            padding-left: 0;
        }
    }
    div.main-container .main-menu .logo {
        height: auto;
    }
    div.main-container .main-menu .logo .navbar-brand img {
        max-width: 59px;
        padding: 10px 0;
    }
    section.hero .hero-content h2 {
        font-size: 45px;
    }
    .title h2 {
        font-size: 44px; 
    }
    .title h3 {
        font-size: 24px;
    }
    section.work-skills .left-work-skills {
        padding: 70px 15px;
    }
    section.skills .progress-area {
        padding: 70px 15px;
    }
    section.contact .contact-area {
        padding: 70px 15px;
    }
    section.work .projects {
        padding: 70px 15px;
    }
}